NEXT_PUBLIC_YT_PLAYLIST_ID=PLSRj-VDlSajZRf78T9Nn-B4SMkN3LoydP
NEXT_PUBLIC_YT_FIRST_VIDEO_ID=63-bNj4oGp8
NEXT_PUBLIC_SPOTIFY_URL=https://open.spotify.com/search/qawwali
NEXT_PUBLIC_YT_MUSIC_URL=https://music.youtube.com/playlist?list=PLSRj-VDlSajZRf78T9Nn-B4SMkN3LoydP
